.bar {
  width: 600px;
  border-radius: 10px;
  position: fixed;
  left: 0;
  border: 1px solid;
  transition: 0.5s;
  z-index: 12;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  top: 1px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

  &__toogleBtn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 100%;
    // top: -59px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
      background: #ffff;
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
      color: #3498db;
      outline: 0;
    }

    &:focus {
      outline: 0;
    }

  }

  &__addForm {
    width: 100%;
  }

  &__textArea {
    background: transparent;
    color: aliceblue;

  }
}