* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 0 10px grey;
  min-height: 800px;
  background:#ffff;
}